<!DOCTYPE html>
<html>
<head >
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/login.css">
	
	<title></title>
</head>
<body class="xyz">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Online Examination Portal</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <nav class="navbar navbar-light bg-light">
  <form class="d-flex">
    <button class="btn btn-outline-success me-2" type="button">Sign out</button>
   
  </form>
  </div>

</div>
</nav>
 <h1>Quiz Types</h1> 
 <div class="container1">
 	
 
    <button type="button" class="btn btn-primary btn-circle btn-xl">DBMS</button>  
    <button type="button" class="btn btn-success btn-circle btn-xl">C</button> 
    <button type="button" class="btn btn-danger btn-circle btn-xl">C++</button> 
    <button type="button" class="btn btn-warning btn-circle btn-xl">Java</button> 
    <button type="button" class="btn btn-light btn-circle btn-xl">SQL</button> 
    <button type="button" class="btn btn-dark btn-circle btn-xl">HTML</button> 

    </div>

</body>
</html>