<!DOCTYPE html>
<html>
<head>
<style>
 {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Quiz</h2>

<table>
  <tr style="background-color:powderblue">
    <th>Name</th>
    <th>Admin id</th>
    <th>status</th>
    
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    

    
  </tr>

</table>

</body>
</html>
